.headerWrapper{
  margin-top: 20px;
  margin-bottom: 50px;
  .headerLogo{
    height: 200px;
    width: auto;
  }
}

@keyframes animateGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
