$r2d2PrimaryColor: #3d72b4;
$r2d2SecondaryColor: #525252;
$obiPrimaryColor: #5B86E5;
$obiSecondaryColor: #36D1DC;
$starWarsSecondaryColor: #757575;
$starWarsSecondaryDarkColor: #000000;
$forcePrimary: #931919;
$forceSecondary: #510000;
$darkGrey: #212121;
